.title-container {
    height: 80vh; /* 80% de la hauteur de la fenêtre d'affichage */
    width: 100%;
    background-image: url("../img/petanque.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Commencez avec une opacité de 0 */
    transform: translateY(-50px); /* Déplacez le titre de 50 pixels vers le bas */
    transition: all 0.5s ease-in-out; /* Appliquez une transition */
}

.title-container:hover .title {
    opacity: 1; /* Faites apparaître le titre au survol */
    transform: translateY(0); /* Replacez le titre à sa position originale */
}

.card-annonces {
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
}

#annonces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #29336bbb;
    color: #fff;
    height: 300px;
}

#agenda {
    align-items: center;
    background-color: #29336bbb;
    color: #fff;
    height: 600px;
}

